<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TaskQueue.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A1B4E5C31E9EA2AD008B5969</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1B4E5D81EA0DE67008B5969</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1B4E5E01EA0DE67008B5969</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
